{% macro download_button(storedObject, filename = null) %}
    {% if storedObject is null %}
        <!-- No document to download -->
    {% else %}
        <a class="sc-button bt-download" 
           data-label-preparing="{{ ('Preparing'|trans ~ '...')|escape('html_attr') }}" 
           data-label-ready="{{ 'Ready to show'|trans|escape('html_attr') }}" 
           data-download-button 
           data-key="{{ storedObject.keyInfos|json_encode|escape('html_attr') }}" 
           data-iv="{{ storedObject.iv|json_encode|escape('html_attr') }}" 
           data-temp-url-get-generator="{{ storedObject|generate_url|escape('html_attr') }}" 
           data-mime-type="{{ storedObject.type|escape('html_attr') }}" {% if filename is not null %}data-filename="{{ filename|escape('html_attr') }}"{% endif %}>
            {{ 'Download'|trans }}</a>
    {% endif %}
{% endmacro %}
