{#
 * Copyright (C) 2018, Champs Libres Cooperative SCRLFS, <http://www.champs-libres.coop>
 *
 * This program is free software: you can redistribute it and/or modify
 *  it under the terms of the GNU Affero General Public License as
 * published by the Free Software Foundation, either version 3 of the
 *  License, or (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU Affero General Public License for more details.
 *
 * You should have received a copy of the GNU Affero General Public License
 * along with this program.  If not, see <http://www.gnu.org/licenses/>.
#}
{% extends "ChillMainBundle::Admin/layout.html.twig" %}

{% block title %}{{ 'Document category list' | trans }}{% endblock title %}

{% block admin_content %}
    <h1>{{ 'Document category list' | trans }}</h1>

    <table class="table">
        <thead>
            <tr>
                <th>{{ 'Creator bundle id' | trans }}</th>
                <th>{{ 'Internal id inside creator bundle' | trans }}</th>
                <th>{{ 'Document class' | trans }}</th>
                <th>{{ 'Name' | trans }}</th>
                <th>{{ 'Actions' | trans }}</th>
            </tr>
        </thead>
        <tbody>
        {% for document_category in document_categories %}
            <tr>
                <td>{{ document_category.bundleId }}</td>
                <td>{{ document_category.idInsideBundle }}</td>
                <td>{{ document_category.documentClass }}</td>
                <td>{{ document_category.name | localize_translatable_string}}</td>

                <td>
                    <a href="{{ path('document_category_show', {'bundleId': document_category.bundleId, 'idInsideBundle': document_category.idInsideBundle}) }}" class="sc-button">
                        {{ 'show' | trans }}
                    </a>
                    <a href="{{ path('document_category_edit', {'bundleId': document_category.bundleId, 'idInsideBundle': document_category.idInsideBundle}) }}" class="sc-button bt-edit">
                        {{ 'edit' | trans }}
                    </a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">{{ 'no records found' | trans }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('document_category_new') }}" class="sc-button bt-create">{{ 'Create new' | trans }}</a>
{% endblock %}
