{#
 * Copyright (C) 2018, Champs Libres Cooperative SCRLFS, <http://www.champs-libres.coop>
 *
 * This program is free software: you can redistribute it and/or modify
 *  it under the terms of the GNU Affero General Public License as
 * published by the Free Software Foundation, either version 3 of the
 *  License, or (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU Affero General Public License for more details.
 *
 * You should have received a copy of the GNU Affero General Public License
 * along with this program.  If not, see <http://www.gnu.org/licenses/>.
#}
{% extends "ChillMainBundle::Admin/layout.html.twig" %}

{% block title %}{{ 'Create new document category' | trans }}{% endblock title %}

{% block admin_content %}
    <h1>{{ 'Create new DocumentCategory' | trans }}</h1>

    {{ include('ChillDocStoreBundle:DocumentCategory:_form.html.twig') }}

    <a href="{{ path('document_category_index') }}" class="sc-button">
        {{ 'Back to the category list' | trans }}
    </a>
{% endblock %}
