{#
 * Copyright (C) 2018, Champs Libres Cooperative SCRLFS, <http://www.champs-libres.coop>
 *
 * This program is free software: you can redistribute it and/or modify
 *  it under the terms of the GNU Affero General Public License as
 * published by the Free Software Foundation, either version 3 of the
 *  License, or (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU Affero General Public License for more details.
 *
 * You should have received a copy of the GNU Affero General Public License
 * along with this program.  If not, see <http://www.gnu.org/licenses/>.
#}
{% extends "ChillMainBundle::Admin/layout.html.twig" %}

{% block title %}{{ 'Document category show'|trans }}{% endblock title %}

{% block admin_content %}
    <h1>Document category</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>{{ 'Creator bundle id' | trans }}</th>
                <td>{{ document_category.bundleId }}</td>
            </tr>
            <tr>
                <th>{{ 'Internal id inside creator bundle' | trans }}</th>
                <td>{{ document_category.idInsideBundle }}</td>
            </tr>
            <tr>
                <th>{{ 'Document class' | trans }}</th>
                <td>{{ document_category.documentClass  }}</td>
            </tr>
            <tr>
                <th>{{ 'Name' | trans }}</th>
                <td>{{ document_category.name | localize_translatable_string }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('document_category_index') }}" class="sc-button">
        {{ 'Back to the category list' | trans }}
    </a>

    <a href="{{ path('document_category_edit', {'bundleId': document_category.bundleId, 'idInsideBundle': document_category.idInsideBundle}) }}" class="sc-button bt-edit">
        {{ 'Edit' | trans }}
    </a>

    {{ include('ChillDocStoreBundle:DocumentCategory:_delete_form.html.twig') }}
{% endblock %}
