{#
 * Copyright (C) 2018, Champs Libres Cooperative SCRLFS, <http://www.champs-libres.coop>
 *
 * This program is free software: you can redistribute it and/or modify
 *  it under the terms of the GNU Affero General Public License as
 * published by the Free Software Foundation, either version 3 of the
 *  License, or (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU Affero General Public License for more details.
 *
 * You should have received a copy of the GNU Affero General Public License
 * along with this program.  If not, see <http://www.gnu.org/licenses/>.
#}

{% extends "ChillPersonBundle::layout.html.twig"  %}

{% set activeRouteKey = '' %}

{% block title %}{{ 'Editing document for %name%'|trans({ '%name%': person|chill_entity_render_string } ) }}{% endblock %}
{% block personcontent %}
    <h1>{{ 'Edit Document' | trans }}</h1>
    
    {{ form_errors(form) }}

    {{ form_start(form) }}
    
    {{ form_row(form.title) }}
    {{ form_row(form.date) }}
    {{ form_row(form.category) }}
    {{ form_row(form.scope) }}
    {{ form_row(form.description) }}
    {{ form_row(form.object, { 'label': 'Document', 'existing': document.object }) }}

    <ul class="record_actions">
        <li class="cancel">
            <a href="{{ path('person_document_index', {'person': person.id}) }}" class="sc-button bt-cancel">
                {{ 'Back to the list' | trans }}
            </a>
        </li>
        <li class="edit">
            <button class="sc-button bt-edit">{{ 'Edit'|trans }}</button>
        </li>
        {# {% if is_granted('CHILL_PERSON_DOCUMENT_DELETE', document) %}
            <li class="delete">
                {{ include('ChillDocStoreBundle:PersonDocument:_delete_form.html.twig') }}
            </li>
        {% endif %} #}
    </ul>
        
    {{ form_end(form) }}


{% endblock %}

{% block js %}
    <script src="{{ asset('build/async_upload.js') }}" type="text/javascript"></script>
{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{{ asset('build/async_upload.css') }}"/>
{% endblock %}
