{#
 * Copyright (C) 2018, Champs Libres Cooperative SCRLFS, <http://www.champs-libres.coop>
 *
 * This program is free software: you can redistribute it and/or modify
 *  it under the terms of the GNU Affero General Public License as
 * published by the Free Software Foundation, either version 3 of the
 *  License, or (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU Affero General Public License for more details.
 *
 * You should have received a copy of the GNU Affero General Public License
 * along with this program.  If not, see <http://www.gnu.org/licenses/>.
#}

{% extends "ChillPersonBundle::layout.html.twig"  %}

{% set activeRouteKey = '' %}

{% import "@ChillDocStore/Macro/macro.html.twig" as m %}

{% block title %}{{ 'Documents for %name%'|trans({ '%name%': person|chill_entity_render_string } ) }}{% endblock %}

{% block js %}
    <script src="{{ asset('build/async_upload.js') }}" type="text/javascript"></script>
{% endblock %}

{% block personcontent %}
    <h1>{{ 'Documents for %name%'|trans({ '%name%': person|chill_entity_render_string } ) }}</h1>

    <table class="table">
        <thead>
            <tr>
                <th>{{ 'Title' | trans }}</th>
                <th>{{ 'Category'|trans }}</th>
                <th>{{ 'Circle' | trans }}</th>
                <th>{{ 'Actions' | trans }}</th>
            </tr>
        </thead>
        <tbody>
        {% for document in documents %}
            <tr>
                <td>{{ document.title }}</td>
                <td>{{ document.category.name|localize_translatable_string }}</td>
                <td>{{ document.scope.name|localize_translatable_string }}</td>
                <td>
                    <ul class="record_actions">
                    {% if is_granted('CHILL_PERSON_DOCUMENT_SEE_DETAILS', document) %}
                        <li>
                            {{ m.download_button(document.object, document.title) }}
                        </li>
                        <li>
                            <a href="{{ path('person_document_show', {'person': person.id, 'id': document.id}) }}" class="sc-button bt-show"></a>
                        </li>
                    {% endif %}
                    {% if is_granted('CHILL_PERSON_DOCUMENT_UPDATE', document) %}
                        <li>
                            <a href="{{ path('person_document_edit', {'person': person.id, 'id': document.id}) }}" class="sc-button bt-update"></a>
                        </li>
                    {% endif %}
                    </ul>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="9" style="text-align:center;"><span class="chill-no-data-statement">{{ 'Any document found'|trans }}</span></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {% if is_granted('CHILL_PERSON_DOCUMENT_CREATE', person) %}
        <ul class="record_actions">
            <li class="create">
                <a href="{{ path('person_document_new', {'person': person.id}) }}" class="sc-button bt-create">
                    {{ 'Create new document' | trans }}
                </a>
            </li>
        </ul>
    {% endif %}
{% endblock %}
