{#
 * Copyright (C) 2014, Champs Libres Cooperative SCRLFS, <http://www.champs-libres.coop>
 *
 * This program is free software: you can redistribute it and/or modify
 *  it under the terms of the GNU Affero General Public License as
 * published by the Free Software Foundation, either version 3 of the
 *  License, or (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU Affero General Public License for more details.
 *
 * You should have received a copy of the GNU Affero General Public License
 * along with this program.  If not, see <http://www.gnu.org/licenses/>.
#}
{% extends "ChillPersonBundle::layout.html.twig"  %}

{% set activeRouteKey = '' %}

{% import "@ChillDocStore/Macro/macro.html.twig" as m %}

{% block title %}{{ 'Detail of document of %name%'|trans({ '%name%': person|chill_entity_render_string } ) }}{% endblock %}

{% block js %}
    <script src="{{ asset('build/async_upload.js') }}" type="text/javascript"></script>
{% endblock %}

{% block personcontent %}
    <h1>{{ 'Document %title%' | trans({ '%title%': document.title }) }}</h1>
    
    <dl class="chill_view_data">
        <dt>{{ 'Title'|trans }}</dt>
        <dd>{{ document.title }}</dd>
        
        <dt>{{ 'Scope' | trans }}</dt>
        <dd>{{ document.scope.name | localize_translatable_string }}</dd>
        
        <dt>{{ 'Category'|trans }}</dt>
        <dd>{{ document.category.name|localize_translatable_string }}</dd>

        <dt>{{ 'Description' | trans }}</dt>
        <dd>
            {% if document.description is empty %}
            <span class="chill-no-data-statement">{{ 'Any description'|trans }}</span>
            {% else %}
            <blockquote class="chill-user-quote">
                {{ document.description }}
            </blockquote>
            {% endif %}
        </dd>

    </dl>

    <ul class="record_actions">
        <li class="cancel">
            <a href="{{ path('person_document_index', {'person': person.id}) }}" class="sc-button bt-cancel">
                {{ 'Back to the list' | trans }}
            </a>
        </li>
        
        <li>
            {{ m.download_button(document.object, document.title) }}
        </li>

        {% if is_granted('CHILL_PERSON_DOCUMENT_UPDATE', document) %}
            <li>
                <a href="{{ path('person_document_edit', {'id': document.id, 'person': person.id}) }}" class="sc-button bt-edit">
                    {{ 'Edit' | trans }}
                </a>
            </li>
        {% endif %}

    {# {{ include('ChillDocStoreBundle:PersonDocument:_delete_form.html.twig') }} #}
{% endblock %}
